body {
   background-color: #54aafb;
}

.navbar-default {
    background-color: #00D169;
    border-color: transparent;
   -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);

}

.btn-lacomer {
    color: #fff;
    background-color: #f26300;
    border-color: #eea236;
}

.btn-danger {
    position: absolute;
    right: 16px;
    font-size: 18px;
}
